# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.log

# Virtual environment
.venv/
env/
venv/

# Django specific
/media/
staticfiles/

# Node / Frontend
node_modules/
dist/
build/

# IDE files
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python / Django
backend/.venv/
backend/db.sqlite3
backend/media/
