<div class="upload-control">
  <input type="file" (change)="onFilePicked($event)" [disabled]="uploading" />
  <span class="filename" *ngIf="selected">{{ selected.name }}</span>

  <button (click)="upload()" [disabled]="!selected || uploading">
    <ng-container *ngIf="uploading; else notUploading">Uploading... {{ uploadProgress }}%</ng-container>
    <ng-template #notUploading>Upload</ng-template>
  </button>
</div>

<!-- Progress bar -->
<div *ngIf="uploading" class="progress">
  <progress [value]="uploadProgress" max="100"></progress>
</div>
