<div class="card">
  <div class="thumb"></div>
  <div class="body">
    <div class="title">{{ doc.fileName }}</div>
    <div class="meta">{{ mimeLabel() }}</div>
    <div class="size kv-muted">{{ (doc.fileSize/1024) | number:'1.0-2' }} KB</div>

    <div class="card-actions">
      <button (click)="onOpen()">Open</button>
      <button (click)="onViewExtracted()">View</button>
      <button (click)="onDownload()">Download</button>
      <button (click)="onDelete()" class="delete">Delete</button>
    </div>
  </div>
</div>

